<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # If a request is not a valid file or directory, rewrite it to index.html
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.html [L]
</IfModule>
