# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
.venv/
venv/
ENV/

# Data and Models
# data/tmdb_5000_credits.csv
# data/tmdb_5000_movies.csv
data/user_interactions/
artifacts/movie_list.pkl
artifacts/similarity.pkl

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
logs/
*.log

# OS specific
.DS_Store
Thumbs.db

# Frontend
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*

# Jupyter Notebooks
.ipynb_checkpoints